.social_links {
    text-decoration: none;
    color: grey;
    font-size: 15px;
}

.social_links:hover {
    text-decoration: none;
    color: #090ced;
}

.home-image-text {
    color: #8f8d8d;
    font-weight: bold;
    font-size: 20px;
}